<h1>These are the Artist in this Gallery</h1>


<ul>
<% @artist.each do |artist| %>
  <li>
    <div class="artist">
      <a href="/artists<%= artist.id %>">
        Artist:  <%= artist.name %><br>
        Location: <%= artist.location %><br>
        Genre: <%= artist.genre %><br>
        Medium: <%= artist.medium %><br>
      </a>
    </div>
  </li>
<% end %>
</ul>




<a href="/artists/new">Make a new Artist</a>

