<h1>These are the Artist in <%= @gallery.name %> Gallery</h1>


<ul>
<% @artist.each do |artist| %>
  <li>
    <div class="artist">
        Artist:  <%= link_to artist.name, gallery_artist_path(@gallery, artist) %><br>
        Location: <%= artist.location %><br>
        Genre: <%= artist.genre %><br>
        Medium: <%= artist.medium %><br>

    </div>
  </li>
<% end %>
</ul>




<%= link_to 'Make a new Artist', new_gallery_artist_path %>

