<h1>Add an artist to <%= @gallery.name%></h1>

<%= form_for [@gallery, @artist] do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :location %>
    <%= f.text_field :location%>
  </div>
  <div>
    <%= f.label :genre %>
    <%= f.text_field :genre %>
  </div>
  <div>
    <%= f.label :medium %>
    <%= f.text_field :medium %>
  </div>
    <%= f.hidden_field :gallery_id, {:value => @gallery.id} %>
  <div>
    <%= f.submit %>
    </div>
  <% end %>



