<h1> List of Paintings by <%= @artist.name %> </h1>

<p>Find me in app/views/items/index.html.erb</p>

<ul>
    <% @items.each do |item| %>
        <li>
          <div class="item">
          <a href="/galleries/<%=@artist.gallery.id%>/artists/<%=@artist.id%>/items/<%=item.id %>">
                    Name: <%= item.name %><br>
                    Genre: <%= item.genre %><br>
                    Medium: <%= item.medium %><br>
                    Location: <%= item.location %><br>
              </a>
            </div>
        </li>
    <% end %>
</ul>

<%= link_to 'Add a painting', new_gallery_artist_item_path(@artist.gallery, @artist) %>

<br>
<%= link_to 'Destroy Artist!', gallery_artist_path(@artist.gallery, @artist), method: :delete, data: { confirm: 'Are you sure? '} %>



