
<h1>This painting is called <%= @item.name %> by the Artist <%= @artist.name %> and belongs to <%= @gallery.name %> in <%= @gallery.location %> </h1>

<h1>
<%= image_tag @item.image.url(:large) %><br><hr>
<!-- <a href="/items/<%= @item.id %>/artists/new">Add another painting</a>
</h1>
 -->
<h1><%= link_to "Create a new Artwork", new_gallery_artist_item_path %></h1>
